.btn__img {
  height: 46px;
  width: auto;
  padding: auto;
}

ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

li {
  padding: 10px;
}

p {
  color: white;
  font-size: 20px;
  text-align: center;
  margin: 10px;
}